.header {
  display: inline-flex;
  width: 100%;
  background: $cream;
  justify-content: space-between;
  padding: 20px 0;
  padding-left: 10px;
  align-items: center;
  h1 {
    font-family: $font-serif;
    letter-spacing: 15px;
  }
  a {
    margin-right: 5%;
  }
}
