@import url('https://fonts.googleapis.com/css?family=Cutive+Mono|Kaushan+Script');

$font: 'Cutive Mono', sans-serif;
$font-serif: 'Kaushan Script', 'Garamond';

$teal: #002F2F;
$blue: #046380;
$cream: #EFECCA;
