@import './ProductSearchItem/product_search_item.scss';
.product-search {
  width: 300px;
  min-width: 300px;
  margin-left: 10px;
  display: flex;
  flex-flow: column nowrap;
  input {
    margin: 10px 0;
    border: none;
    &[type="text"] {
      width: 90%;
      font-size: 1.2em;
    }
    &[type="submit"] {
			visibility: hidden;
			opacity: 0;
			transition: .3s;
      width: 90%;
      font-size: 1em;
      background: $blue;
      color: #fff;
			&:hover, &:focus {
				transition: .3s;
        background: $teal; 
        cursor: pointer;
      }
			&.show {
				visibility: visible;
				opacity: 1;
			}	
    }
  }

  >button {
    width: 90%;
    background: $blue;
    color: #fff;
    font-size: 1em;
		transition: .3s;
		&:hover, &:focus {
			transition: .3s;
      background-color: $teal;
    }
  }
}

