/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css?family=Cutive+Mono");
@import url("https://fonts.googleapis.com/css?family=Cutive+Mono");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  background-color: #D3D3D3; }

body, h1, h2, h3, p, ul, input, a {
  font-family: "Cutive Mono", sans-serif; }

h1 {
  font-size: 3em; }

h2 {
  font-size: 2.5em; }

h3 {
  font-size: 2em; }

a {
  text-decoration: none;
  color: #000; }
  a:hover, a:focus {
    cursor: point;
    font-weight: bold; }

button, input[type="submit"] {
  border: none;
  font-family: "Cutive Mono", sans-serif; }
  button:hover, button:focus, input[type="submit"]:hover, input[type="submit"]:focus {
    cursor: pointer; }

.header {
  display: inline-flex;
  width: 100%;
  background: #EFECCA;
  justify-content: space-between;
  padding: 20px 0;
  padding-left: 10px;
  align-items: center; }
  .header h1 {
    font-weight: bold; }
  .header a {
    margin-right: 5%; }

.location {
  padding: 10px;
  background: #046380;
  color: #fff;
  width: 220px; }
  .location li {
    margin: 5px 0; }

.product-path {
  align-items: center;
  display: flex;
  flex-flow: row wrap;
  margin: 10px auto;
  width: 80%;
  justify-content: space-around; }
  .product-path .start, .product-path .finish {
    align-self: stretch;
    color: #fff;
    display: flex;
    padding: 1%;
    flex-flow: column nowrap;
    justify-content: center; }
  .product-path .start {
    background-color: #4CBB17; }
  .product-path .finish {
    background-color: #8E2323; }

.product-search li {
  display: flex;
  width: 90%;
  justify-content: space-between;
  align-items: center; }
  .product-search li button {
    background-color: #EFECCA;
    font-size: 1em;
    margin: 10px 0;
    transition: .3s; }
    .product-search li button:hover, .product-search li button:focus {
      transition: .3s;
      background-color: #046380;
      color: #fff; }

.product-search {
  min-width: 300px;
  margin-left: 10px;
  display: flex;
  flex-flow: column nowrap; }
  .product-search input {
    margin: 10px 0;
    border: none; }
    .product-search input[type="text"] {
      width: 90%;
      font-size: 1.2em; }
    .product-search input[type="submit"] {
      visibility: hidden;
      opacity: 0;
      transition: .3s;
      width: 90%;
      font-size: 1em;
      background: #046380;
      color: #fff; }
      .product-search input[type="submit"]:hover, .product-search input[type="submit"]:focus {
        transition: .3s;
        background: #002F2F;
        cursor: pointer; }
      .product-search input[type="submit"].show {
        visibility: visible;
        opacity: 1; }
  .product-search > button {
    width: 90%;
    background: #046380;
    color: #fff;
    font-size: 1em;
    transition: .3s; }
    .product-search > button:hover, .product-search > button:focus {
      transition: .3s;
      background-color: #002F2F; }

article.map {
  width: 100%; }

html, body {
  height: 100%; }

main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between; }
