.product-search {
  li {
    display: flex;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    button {
      background-color: $cream;
      font-size: 1em;
      margin: 10px 0;
			transition: .3s;
      &:hover, &:focus {
				transition: .3s;
				background-color: $blue;
        color: #fff;
      }
    }
  }
}
